<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
 
    <sectionGroup name="environments">
      <section name="Chrome" type="System.Configuration.NameValueSectionHandler" />
      <section name="Firefox" type="System.Configuration.NameValueSectionHandler" />
      <section name="Safari" type="System.Configuration.NameValueSectionHandler" />
      <section name="Edge" type="System.Configuration.NameValueSectionHandler" />
      <section name="IE" type="System.Configuration.NameValueSectionHandler" />
      <section name="Android" type="System.Configuration.NameValueSectionHandler" />
      <section name="Iphone" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>

    <appSettings>

    </appSettings>
    <add key="DataDrivenFileXlsx" value="\DataDriven\DataDriven.xlsx"/>
    <appSettings>
      
      
      <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub"/>
      <!--<add key="RemoteWebDriverHub" value="http://user:key@hub-cloud.browserstack.com/wd/hub"/>-->
      <!--<add key="RemoteWebDriverHub" value="http://user:key@ondemand.saucelabs.com:80/wd/hub"/>-->
      <!--<add key="RemoteWebDriverHub" value="https://hub.testingbot.com/wd/hub/"/>-->
      <add key="DriverCapabilities" value="CloudProvider"/>
    </appSettings>
   
    <DriverCapabilities>
      <add key="project" value="Test.Automation"/>
      <add key="browserstack.debug" value="true" />
      <add key="build" value="Objectivity.Test.Automation.Tests.CloudProviderCrossBrowser" />
      <add key="browserstack.networkLogs" value="true" />
      <!-->saucelabs Settings/-->
      <add key="extendedDebugging" value="true"/>
    </DriverCapabilities>
    <environments>
      <Chrome>
        <add key="os" value="Windows"/>
        <add key="os_version" value="10"/>
        <add key="name" value="parallel_test" />
      </Chrome>
      <Firefox>
        <add key="os" value="Windows"/>
        <add key="os_version" value="10"/>
        <add key="name" value="parallel_test" />
      </Firefox>
      <Safari>
        <add key="os" value="OS X"/>
        <add key="os_version" value="High Sierra"/>
        <add key="name" value="parallel_test" />
        <!-->testingbot Settings/-->
        <add key="platform" value="HIGH-SIERRA" />
        <add key="version" value="11" />
      </Safari>
      <Edge>
        <add key="os" value="Windows"/>
        <add key="os_version" value="10"/>
        <add key="name" value="parallel_test" />
      </Edge>
      <IE>
        <add key="os" value="Windows"/>
        <add key="os_version" value="10"/>
        <add key="name" value="parallel_test" />
      </IE>
      <Android>
        <add key="device" value="Samsung Galaxy S8"/>
        <add key="realMobile" value="true"/>
        <add key="name" value="parallel_test" />
      </Android>
      <Iphone>
        <add key="device" value="iPhone 7"/>
        <add key="realMobile" value="true"/>
        <add key="name" value="parallel_test" />
      </Iphone>
    </environments>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup></configSections>
</configuration>